body {
    padding-top: 50px;
}

video {
    width: 80%;
    background: black;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

#login-buttons {
    padding-top: 17px;
}

.online {
    color: green;
    cursor: pointer;
}

.offline {
    color: red;
    cursor: not-allowed;
}

@media (max-width: 768px) {
     #navbar {
        overflow-y: initial;
        color:red;
    }
    #login-buttons{
        padding-top:0px;
        padding-left:17px;
    }

}
